/* Make the entire app full screen, no scrollbars */
.app-wrapper {
  background: #ffe5e157; /* Dark, modern background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
